.test {
	margin-top: 5%;
}

.test .alert{
	padding: 3em;
}

.counter {
	text-align: center;
}

.counter h2 {
	font-size: 4em;
}

.clock {
	font-size: 4em;
	font-weight: bold;
	text-align:center;
}

.nameForm {
	text-align: center;
	margin: 2em;
}

.nameForm input {
	margin: 4em 0em;
	padding: 2em;
}